body {
    text-align: center;
    background-color: lightsteelblue;
}

#color-palette {
    display: flex;
    list-style: none;
    justify-content: center;
}

.color {
    border: 1px solid black;
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 2px;
}

#botoes {
    margin-top: 15px;
}

#pixel-board {
    margin-top: 15px;
    justify-content: center;
}

.pixel {
    display: inline-block;
    margin: 0;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: white;
}
